streamlit
gitpython
python-dotenv

langchain
langchain-community
langchain-huggingface
langchain-text-splitters

faiss-cpu
sentence-transformers

tree-sitter
groq
tree-sitter-language-pack

psycopg2-binary